.App {
  text-align: center;
  background-color: black;
  color: green;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: black;
}

button {
  background-color: rgb(6, 61, 24);
  color: lightgoldenrodyellow;
}

h1 {
  color: lightgoldenrodyellow;
}